<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />

    <application
        android:name=".NeuroApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TomatoRead"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BookDetailActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".CommentsActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ProfileActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ReaderActivity" android:theme="@style/Theme.TomatoRead"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".BookshelfActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".SearchActivity" android:theme="@style/Theme.TomatoRead"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".TocActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ReaderSettingsActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ArticleDetailActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".AuthorProfileActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".LoginActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ForgotPasswordActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".ReadingHistoryActivity" android:theme="@style/Theme.TomatoRead" />

        <!-- 创作中心 -->
        <activity android:name=".CreateCenterActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".CreateWorkActivity" android:theme="@style/Theme.TomatoRead"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".EditorActivity" android:theme="@style/Theme.TomatoRead"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WorkManageActivity" android:theme="@style/Theme.TomatoRead" />
        <activity android:name=".EditWorkInfoActivity" android:theme="@style/Theme.TomatoRead"
            android:windowSoftInputMode="adjustResize" />

        <!-- 上传作品Activity -->
        <activity
            android:name=".UploadActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TomatoRead"
            android:windowSoftInputMode="adjustResize">

            <!-- 支持从文件管理器打开txt文件 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- 支持从文件管理器打开docx文件 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- 支持从文件管理器打开md文件 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/markdown" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- 支持从文件管理器打开多种文档格式 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-fictionbook" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-mobipocket-ebook" />
            </intent-filter>

            <!-- 支持分享txt文件到应用 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- 支持分享docx文件到应用 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
            </intent-filter>

            <!-- 支持分享md文件到应用 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/markdown" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/epub+zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>

</manifest>
